lolteams-frontend/out/
lolteams-frontend/resources/public/js/compiled/
lolteams-frontend/target/
lolteams-frontend/*-init.clj
lolteams-frontend/*.log
lolteams-frontend/.lein-*
lolteams-frontend/.nrepl-port
lolteams-frontend/node_modules/
lolteams-frontend/.shadow-cljs/

lolteams-backend/target
lolteams-backend/lib
lolteams-backend/classes
lolteams-backend/checkouts
lolteams-backend/pom.xml
lolteams-backend/pom.xml.asc
lolteams-backend/*.jar
lolteams-backend/*.class
lolteams-backend/.lein-*
lolteams-backend/.nrepl-port