.login-panel {
    width: 25%;
    margin-top: 200px;
}

.forgot-password-panel {
    width: 25%;
    margin-top: 200px;
}

.register-panel {
    width: 25%;
    margin-top: 200px;
}

.forgot-password-header {
    padding: 8px;
}

.center-text {
    text-align: center;
}

.login-button {
    width: 100%;
}

.full-width {
    width: 100%;
}

.champion-portrait {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}