{:server-port         4000
 :database-properties {:host     "127.0.0.1"
                       :dbname   "lolteams"
                       :user     "postgres"
                       :password "postgres"
                       :port     5432}
 :data-dragon {:version-refresh-rate-minutes 60}
 :auth {:public-key-filename "dev_public_key.pem"
        :private-key-filename "dev_private_key.pem"
        :passphrase nil}
 :email-service {:user "lolteamshelp@gmail.com"
                 :password "lolteams123"
                 :sender "LolTeams Debug <lolteamshelp@gmail.com>"}}